
/* GMAIL BLOCK */

.gmail_block {
    background: #F2EE9D;
    padding: 100px 0;
}

.inner_gmail_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
    height: 300px;
    border-radius: 20px;
    align-items: center;
}
input{
    background: #F2EE9D;
    outline: none;
}
.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}

/* MOVE BLOCK */

.move_block {
    background: #F2EE9D;
    padding: 100px 0;
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 2px solid orange;
    position: relative;
    margin: 0 auto;
}

.child_block {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.inner_move_block {
    margin-top: 50px;
}

/* STOP WATCH */

.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid orange;
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: center;
}

.stopwatch {
    padding: 100px 0;
    background: #F2EE9D;
}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards{
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #F2EE9D;
}
.cards button{
    width: 260px;
    height: 50px;
    background-color: #862b0d;
    border: none;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.cards button:hover{
    background-color:orange;
    color: white;
    transition: 0.3s;
}
.cards button:active{
    background-color:#862b0d;
    color: orange;
    transition: 0.2s;
}
.cards .container{
    display: flex;
    justify-content: center;
}
.card span{
    color: orange;
}
#people{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#people .card{
    display: flex;
    width: 270px;
    height: 150px;
    border: 1px solid #862b0d;
    align-items: center;
    padding: 10px;
}
.card p{
    font-size: 24px;
    color: orange;
}
